APP_NAME="NRS-Sports-Foundation"
APP_ENV=production
APP_KEY=base64:UeBmfXsk9pi9gm0cGrlCqD80Yvxgs2klUycJcsnxV9Q=
APP_DEBUG=false
APP_URL=https://nrssportsfoundation.org.np

LOG_CHANNEL=stack

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=sendmail
MAIL_HOST=smtp.googlemail.com
MAIL_PORT=587
MAIL_USERNAME=developer.cyberlink@gmail.com 
MAIL_PASSWORD=evrworowijbyyglc
MAIL_ENCRYPTION=tls


AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


APP_KEYWORDS="NRS Sports Foundation"
APP_DESCRIPTION="NRS Sports Foundation"

BANNER_WIDTH=1900
BANNER_HEIGHT=560

#GALLERY IMAGE DIMENSION

GALLERY_IMAGE_LARGE_WIDTH=
GALLERY_IMAGE_LARGE_HEIGHT=

GALLERY_IMAGE_MEDIUM_WIDTH=
GALLERY_IMAGE_MEDIUM_HEIGHT=

GALLERY_IMAGE_THUMB_WIDTH=
GALLERY_IMAGE_THUMB_HEIGHT=

##### PRODUCT IMAGE DIMENSION #####

PRODUCT_IMAGE_WIDTH=
PRODUCT_IMAGE_HEIGHT=

PRODUCT_IMAGE_THUMB_WIDTH=
PRODUCT_IMAGE_THUMB_HEIGHT=

########## ########

EX_LARGE_WIDTH =
EX_LARGE_HEIGHT =

LARGE_WIDTH =
LARGE_HEIGHT =

MEDIUM_WIDTH=900
MEDIUM_HEIGHT=500

SMALL_WIDTH =
SMALL_HEIGHT =

THUMBNAIL_WIDTH =
THUMBNAIL_HEIGHT =

## Live
SITE_KEY=6Lf2ULEgAAAAAAKPa4wTCaTG-CMA6b5RFwgvEG9W
SECRET_KEY=6Lf2ULEgAAAAAKF1hYXdBv1xT53UfHEA3zrhsTia

## Live
NOCAPTCHA_SITEKEY=6LfL9KIjAAAAADlarp_r15TOKxrz1_9sy0Gj3Vwf
NOCAPTCHA_SECRET=6LfL9KIjAAAAACeYCBPASwn6ZsMjUwbg1hZZBBTc

## Localhost
#SITE_KEY=6Les-OAUAAAAAGcIOxalD8hnejikbTdpKbQ7i_MD
#SECRET_KEY=6Les-OAUAAAAAFn_6S_3XXTGBhNpFF_kA50dAX45

## Localhost
#NOCAPTCHA_SITEKEY=6Lc3Ge0gAAAAAPXja7xMPEZuMADXB5nz13D128It
#NOCAPTCHA_SECRET=6Lc3Ge0gAAAAAPQJ8n-v8c5ugc1AjimYVUHOibSm